
.container {
	&.preface {
		display: flex;
		justify-content: center;
		margin-bottom: 20rem;

		@include box-border($blue);

		.header {
			display: flex;
			align-items: baseline;

			.title {
				font-family: "Hoefler Text", "serif";
				font-size: 3.3rem;
				margin-bottom: 1rem;

				svg {
					margin-right: 1.2rem;
					margin-bottom: -0.6rem;
					height: 3.3rem;
				}
			}
		}

		.text {
			font-family: "Hoefler Text", "serif";
			font-size: 1.8rem;

			padding: 7rem 10rem 9rem 10rem;

			&.withSounds {
				padding-bottom: 3.5rem;
			}
		}

		.characters-container {
			width: 110%;
			margin-left: -5%;

			.characters {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.empty {
					visibility: hidden;
				}

				.image {
					width: calc(100% * (1/3) - 50px - 1px);
					height: calc(100% * (1/3) - 50px - 1px);
					background-size: cover;
					margin-left: 40px;
					margin-bottom: 30px;
					position: relative;

					display: flex;
					flex-direction: column;

					&.left {
						align-items: flex-end;
					}

					&.center {
						align-items: center;
					}

					&.right {
						align-items: flex-start;
					}

					&:nth-child(1), &:nth-child(4), &:nth-child(7){
						margin-left: 0;
					}

					img {
						width: 100%;
						height: 100%;
						margin-bottom: 0.4rem;
					}

					.name {
						font-size: 1.8rem;
						font-family: "Hoefler Text", "serif";
						margin-top: 0.6rem;
					}
				}
			}
		}

		.sounds {
			width: 130%;
			margin-left: -15%;
			border-top: 3px solid $blue;
			margin-top: 5rem;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;


			.control {
				width: 27%;
				left: 0;
				display: flex;
				justify-content: center;
				padding-top: 1rem;

				svg {
					width: 3rem;
					cursor: pointer;
					@include crossBrowser(user-select, none);
				}

				.hide {
					display: none;
				}
			}

			.divide {
				width: 3px;
				align-self: flex-start;
				height: 1.4rem;
				background-color: $blue;
			}

			.player {
				width: 69%;
				right: 0;
				padding-top: 1rem;
				display: flex;
				justify-content: center;

				#cassette {
					height: 100%;
					width: 10rem;
				}

				.track {
					font-family: "Georgia", serif;
					margin-top: 0.6rem;
				}

				#time {
					font-family: "DIN Condensed", serif;
				}

				audio {
					visibility: hidden;
				}
			}
		}
	}
}

@media (max-width: 930px) {
	.container.preface .characters-container {
		.characters {
			.image {
				width: calc(100% * (1/3) - 30px - 1px);
			}
		}
	}
}