
html {
  background: #222222;
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

body {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

p {
  &.small {
    font-size: 14px;
    line-height: 18px;
    text-align: right;
  }
}

.page {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.right {
  position: fixed;
  text-align: right;
  max-width: 40rem;
  right: 8rem;
  top: 6rem;
  bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    position: relative;

  }

  &__bottom {
    position: relative;

  }
}

.left {
  margin-left: 16rem;

  .spacer-test {
    height: 400px;
  }
}
