
html {
  background: #222222;
}

p {
  &.small {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
  }
}

.right {
  &__top {
    position: fixed;
    margin-top: 6rem;
    margin-right: 8rem;
  }

  &__bottom {
    position: fixed;

  }
}
