.hero {
    height: 110vh;
    background-image: url("/img/gassed/hero-bg.jpg");
    background-size: 130%;
    background-position: 50% 65%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        margin-top: -16vh;
    	text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    	.title {
            font-family: "Didot", "serif";
            font-size: 5.5rem;
        }

        .time {
            font-family: "DIN Condensed";
            font-size: 2rem;
            margin-top: 1rem;
        }

        #mouse {
            width: 5%;
            margin-top: 10rem;
        }
    }
}