$light-gray: #cacaca;

@mixin crossBrowser($property, $css) {
    -webkit-#{$property} : $css;
    -moz-#{$property} : $css;
    -o-#{$property} : $css;
    #{$property} : $css;
}

@mixin crossBrowserTwoArgs($property, $css, $css2) {
    -webkit-#{$property} : $css, $css2;
    -moz-#{$property} : $css, $css2;
    -o-#{$property} : $css, $css2;
    #{$property} : $css, $css2;
}

.gassed-nav {
	position: fixed;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.inner-container {
		display: flex;
		flex-direction: column;

		&:hover {
			.title {
				@include crossBrowser(transform, translate(0, 0));
				opacity: 1;
			}
		}

		&.hide {
			a, .divet, .sound-control .icon, .sound-control {
				@include crossBrowser(transform, translate(-20px, 0));
				opacity: 0;
				pointer-events: none;
				@include crossBrowserTwoArgs(transition, transform 150ms ease-in-out, opacity 150ms ease-in-out);
			}
		}

		&.unhide {
			a, .divet, .sound-control .icon, .sound-control {
				@include crossBrowser(transform, translate(0, 0));
				opacity: 1;
				pointer-events: all;
			}
		}
	}


	.sound-control {
		padding: 0;
		padding-left: 2.5rem;
		position: relative;
		align-self: flex-start;
		cursor: pointer;

		display: flex;
		align-items: center;
		@include crossBrowser(transition-delay, 0ms);

		.icon {
			width: 3.5rem;
			height: 2rem;
			
			&.hide {
				display: none;
			}

			svg {
				position: absolute;
				clip: rect(0, 30px, 22px, 0);

				polygon, rect {
					fill: $gray;
				}
			}
		}

		&:hover {
			svg polygon, svg rect {
				fill: black;
			}
		}

		.title {
			font-family: 'Hoefler Text', sans-serif;
			font-size: 1.5rem;
			margin-left: 1rem;
			margin-bottom: -0.4rem;
			@include crossBrowser(user-select, none);

			@include crossBrowser(transform, translate(-10px, 0));
			opacity: 0;
			@include crossBrowserTwoArgs(transition, transform 150ms ease-in-out, opacity 150ms ease-in-out);
			@include crossBrowser(transition-delay, 0ms);
		}

	}

	.divet {
		align-self: flex-start;
		margin-left: 3.6rem;
		margin-top: 2rem;
		margin-bottom: 0.6rem;

		width: 1.2rem;
		height: 1.2px;
		background-color: rgba(0,0,0,0.2);

		@include crossBrowser(transition-delay, 20ms);
	}
	

	.nav-container {
		padding: 0;
		padding-left: 2.5rem;
		position: relative;
	}



	/* reset svg color on hover */
	#preface-nav:hover {
		.title {
			color: $blue;
		}

		svg g g {
			stroke: $blue;
		}

		svg g use:nth-of-type(1){
			fill: $blue !important;
		}
	}

	#getting-ready-nav:hover {
		.title {
			color: $green;
		}

		svg g g {
			stroke: $green;
		}
	}

	#crew-wave-nav:hover {
		.title {
			color: $orange;
		}

		svg g g {
			stroke: $orange;
		}
	}

	#socializing-nav:hover {
		.title {
			color: $purple;
		}

		svg g g {
			stroke: $purple;
		}
	}

	#anti-social-nav:hover {
		.title {
			color: $gray;
		}

		svg g g {
			stroke: $gray;
			fill: $gray !important;
		}
	}

	#partys-over-nav:hover {
		.title {
			color: $red;
		}

		svg g g {
			stroke: $red;
		}
	}

	#film-nav:hover {
		.title {
			color: $light-blue;
		}

		svg g g {
			stroke: $light-blue;
		}

		g rect:nth-of-type(2){
			fill: $light-blue !important;
		}
	}

	a {
		text-decoration: none;
		color: black;
		display: flex;
		align-items: center;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
		cursor: pointer;

		@include crossBrowser(transform, translate(0, 0));
		opacity: 1;

		.icon {
			display: flex;
			width: 3.4rem;
			justify-content: center;
		}

		svg {
			width: 3rem;
			height: 3rem;
			float: left;
		}

		.title {
			font-family: 'Hoefler Text', sans-serif;
			font-size: 1.5rem;
			margin-left: 1rem;
			margin-bottom: -0.4rem;

			@include crossBrowser(transform, translate(-10px, 0));
			opacity: 0;
			@include crossBrowserTwoArgs(transition, transform 150ms ease-in-out, opacity 150ms ease-in-out);
		}

		&#preface-nav {
			@include crossBrowser(transition-delay, 40ms);

			.title {
				@include crossBrowser(transition-delay, 40ms);
			}

			svg {
				height: 2.6rem;
			}
		}

		&#getting-ready-nav {
			@include crossBrowser(transition-delay, 60ms);

			.title {
				@include crossBrowser(transition-delay, 60ms);
			}

			svg {
				margin-left: -0.4rem;
			}
		}

		&#crew-wave-nav {
			@include crossBrowser(transition-delay, 80ms);

			.title {
				@include crossBrowser(transition-delay, 80ms);
			}
		}

		&#socializing-nav {

			@include crossBrowser(transition-delay, 100ms);

			.title {
				@include crossBrowser(transition-delay, 100ms);
			}
		}

		&#anti-social-nav {
			@include crossBrowser(transition-delay, 120ms);

			.title {
				@include crossBrowser(transition-delay, 120ms);
			}

			svg {
				width: 2.6rem;

				g g {
					stroke: $gray;
					fill: $gray;
				}
			}
		}

		&#partys-over-nav {
			@include crossBrowser(transition-delay, 140ms);

			.title {
				@include crossBrowser(transition-delay, 140ms);
			}
		}

		&#film-nav {
			@include crossBrowser(transition-delay, 160ms);

			.title {
				@include crossBrowser(transition-delay, 160ms);
			}

			svg {
				width: 2.6rem;
			}
		}

		&.inactive {
			svg {
				g g {
					stroke: $light-gray;
				}
			}

			&#anti-social-nav {
				svg g g {
					fill: none;
				}
			}

			&#film-nav {
				g rect:nth-of-type(2){
					fill: white;
				}
			}

			&#preface-nav {
				g use:nth-of-type(1){
					fill: white;
				}
			}
		}
	}
}

@media (max-width: 750px) {
	.gassed-nav {
		width: 100%;
		height: auto;
		z-index: 3;
		background: white;
		box-shadow: 0 2px 4px rgba(0,0,0,0.13);
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		padding: 0.5rem;
		display: flex;
		@include crossBrowser(transition, all 250ms ease-out);

		&.mobile-hide {
			@include crossBrowser(transform, translate(0, -110%));
		}

		.inner-container {
			flex-direction: row;
			justify-content: space-between;
			width: 100%;

			// undo transforms set for desktop nav
			&.hide {
				a, .divet, .sound-control .icon, .sound-control {
					@include crossBrowser(transform, translate(0, 0));
					opacity: 1;
					pointer-events: all;
				}
			}

			.sound-control {
				padding-left: 1.5rem;
				padding-right: 2rem;
				padding-top: 1.5rem;

				.icon {
					height: initial;

					svg {
						position: initial;
						clip: initial;

						polygon, rect {
							fill: black !important;
						}
					}
				}

				.title {
					display: none;
				}
			}

			.divet {
				height: 1.5rem;
				width: 2px;
				margin-left: 0.5rem;
			}


			.nav-container {
				width: 80%;
				display: flex;
				justify-content: space-between;
				padding-left: 2.5rem;
				padding-right: 2.5rem;

				a {
					.title {
						display: none;
					}
				}
			}
		}

	}
}