.container {
	&#getting-ready {
		.gradient {
			height: 130vh;
			width: calc(100vw + 4px);
			margin-left: -25vw;

			background: rgba(149,78,71,1);/* Old Browsers */
			background: -moz-linear-gradient(top, rgba(149,78,71,1) 0%, rgba(157,74,61,1) 24%, rgba(68,126,177,1) 43%, rgba(68,126,177,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(149,78,71,1)), color-stop(24%, rgba(157,74,61,1)), color-stop(43%, rgba(68,126,177,1)), color-stop(100%, rgba(68,126,177,1)));/* Chrome, Safari4+ */
			background: -webkit-linear-gradient(top, rgba(149,78,71,1) 0%, rgba(157,74,61,1) 24%, rgba(68,126,177,1) 43%, rgba(68,126,177,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(149,78,71,1) 0%, rgba(157,74,61,1) 24%, rgba(68,126,177,1) 43%, rgba(68,126,177,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(149,78,71,1) 0%, rgba(157,74,61,1) 24%, rgba(68,126,177,1) 43%, rgba(68,126,177,1) 100%); /* IE 10+ */
			background: linear-gradient(to bottom, rgba(149,78,71,1) 0%, rgba(157,74,61,1) 24%, rgba(68,126,177,1) 43%, rgba(68,126,177,1) 100%);/* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#954e47', endColorstr='#447eb1', GradientType=0 );/* IE6-9 */
		}
	}


}