@font-face {
    font-family: 'DIN Condensed';
    src: url('/../fonts/dincon-bold.otf');
    font-weight: bold;
    font-style: normal;
}



html {
	font-size: 10px;
}


@media all and (max-width: 500px) {
	html {
		font-size: 8.2px;
	}
}


@media all and (max-width: 320px) {
	html {
		font-size: 6.7px;
	}
}
	