html
	head
		title 29-09 Emergency Brake
		meta(property='og:title' content='29-09 Emergency Brake')
		meta(property='og:description' content='A publication by Teal Process & Company')
		meta(property='og:image' content='https://tealprocess.net/img/29-09/29-09-og.png')

		meta(name='twitter:card' content='summary_large_image')
		meta(name='twitter:title' content='29-09 Emergency Brake')
		meta(name='twitter:description' content='A publication by Teal Process & Company')
		meta(name='twitter:image' content='https://tealprocess.net/img/29-09/29-09-og-twitter-large.png')

		meta(http-equiv='Content-Type' content='text/html;charset=UTF-8')


		script(src='../js/jquery-1.11.0.min.js')
		script(src='../js/plugins/ScrollMagic.min.js')
		script(src='../js/plugins/TweenMax.min.js')
		script(src='../js/plugins/animation.gsap.js')
		
		script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/debug.addIndicators.min.js')
		

		link(rel='stylesheet' type='text/css' href='../css/skeleton.css')
		link(rel='stylesheet', href='../css/29-09.css')

		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='shortcut icon' href='../img/favicon-4.png')
		link(rel='apple-touch-icon' href='../img/favicon-114.png')
	body
		<!-- .post-divider -->
		.container
			.row.row--is-centered
				.header.nine.columns
					.header__left
						| 29–09
						br
						| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Emergency Brake
			.row.row--is-centered
				.nine.columns.u-pull-right.header__right
					| A publication of poetics
					
					
			.row.row--is-centered
				.post.six.columns#found-container
					span(id='thought-scroll-start')
					h3(style='color: #f1cd82;') 02-10.19
					h1 ☞ ☞ ☞
					.post-info-dividers
					.post-info
						.post-info__left
							i Found artifacts
						.post-info__right
							i by
							|  Norman
					.scroll-sideways
						.scroll-sideways_spacer#found-scroll-front
						img(src='/img/29-09/pub-cover.png')
						img(src='/img/29-09/pub-1.png')
						img(src='/img/29-09/pub-cover.png')
						.scroll-sideways_spacer#found-scroll-back
						
						br
			
			.row.row--is-centered
				.post.six.columns
					span(id='thought-scroll-start')
					h3(style='color: #9e9e9e;') 01-05.19
					h1(title='Milky Way') 🌌
					.post-info-dividers
					.post-info
						.post-info__left
							i Notion
						.post-info__right
							i by
							|  Yatu
					p
						| connecting dots like a constellation
						br
						| uninterrupted manifestations
						br
						br
						| the jealous sun approaches
						br
						| the 
						span(class='thought-dot-container')
							span(class='thought-dot' id='thought-dot-1')
							span(class='thought-dot' id='thought-dot-2')
							span(class='thought-dot' id='thought-dot-3')
							span(class='thought-dot' id='thought-dot-4')
							span(class='thought-dot' id='thought-dot-5')
							span(class='thought-dot' id='thought-dot-6')
							span(class='thought-dot' id='thought-dot-7')
							span(class='thought-dot' id='thought-dot-8')
						| drift away and fade
						br
						br
						span(id='thought-scroll-end')
						.sounds
							.control#control-milky-way
								.play#play-milky-way Play
									<!-- include ../public/img/gassed/icons/play.svg -->
								.pause.hide#pause-milky-way Pause
									<!-- include ../public/img/gassed/icons/pause.svg -->
							.player
								<audio id='audio-milky-way'>
								<source src='../audio/Mental Models.ogg' type='audio/ogg'>
								<source src='../audio/Mental Models.mp3' type='audio/mpeg'>
								</audio>
								.info
									.track Connecting thoughts
									.time#time-milky-way 00:00:00
						
			.row.row--is-centered
				.post.six.columns
					h3(style='color: #ffab10;') 09-30.18
					h1 The Lunar Contemporaries
					.post-info-dividers
					.post-info
						.post-info__left
							i Thesis
						.post-info__right
							i by
							|  Mel & Norm
					p
						| The Lunar Contemporaries
						br
						| inviting
						br
						| disappearing
						br
						| expecting and forgiving
						br
						br
						| The Lunar Contemporaries
						br
						| identified as identities
						br
						| in politics
						br
						| and fashion of the local crater crew
						br
						br
						| The Lunar Contemporaries
						br
						| on concrete stomach
						br
						| surrounded by knives
						br
						| reach through for phone
						br
						br
						| The Lunar Contemporaries
						br
						| available
						br
						| around
						br
						| unwilling to keep head down
						br
						br
						| The Lunar Contemporaries
						br
						| knowingly,
						br
						| unabashedly,
						br
						| pridefully,
						br
						| carefully
						br
						| about the image
						br
						br
						| The Lunar Contemporaries
						br
						| love neon
						br
						| and Kundera
						br
						| willing to associate broadly
						br
						br
						.sounds
							.control#control-lunar
								.play#play-lunar Play
								.pause.hide#pause-lunar Pause
							.player
								<audio id='audio-lunar'>
								<source src='../audio/Sortve Playing.ogg' type='audio/ogg'>
								<source src='../audio/Sortve Playing.mp3' type='audio/mpeg'>
								</audio>
								.info
									.track Settling down
									.time#time-lunar 00:00:00
			.row.row--is-centered
				.footer.six.columns
					img.teal-logo(src='../img/29-09/tp-logo.svg')
					span
						| A
						a(target='_blank' rel='noopener' href='https://www.instagram.com/tealprocess/') Teal Process & Company
						|  Publication
						img.publication-logo(src='../img/29-09/publication-mark.svg')
		script(src='../js/29-09.js')
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-96914303-2')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-96914303-2');
