.gassed-nav
	.nav-container.hide
		a(href='#preface').inactive#preface-nav
			.icon
				include ../public/img/gassed/icons/0.svg
			.title Preface
		a(href='#getting-ready').inactive#getting-ready-nav
			.icon
				include ../public/img/gassed/icons/1.svg
			.title Getting Ready
		a(href='#crew-wave').inactive#crew-wave-nav
			.icon 
				include ../public/img/gassed/icons/2.svg
			.title Crew Wave
		a(href='#socializing').inactive#socializing-nav
			.icon
				include ../public/img/gassed/icons/3.svg
			.title Socializing
		a(href='#anti-social').inactive#anti-social-nav
			.icon
				include ../public/img/gassed/icons/4.svg
			.title Anti-Social
		a(href='#partys-over').inactive#partys-over-nav
			.icon
				include ../public/img/gassed/icons/5.svg
			.title Party's Over
		a(href='#film').inactive#film-nav
			.icon
				include ../public/img/gassed/icons/6.svg
			.title Film
