extends layout

block title 
	| Gassed Up

block localcss
	link(rel='stylesheet' type='text/css' href='css/gassed.css')
block localscripts
	script(src='js/gassed.js')

block content
	.container.hero
	.container.content
		


