extends layout

block title 
	| Gassed Up

block localcss
	link(rel='stylesheet' type='text/css' href='https://vjs.zencdn.net/5-unsafe/video-js.css')
	link(rel='stylesheet' type='text/css' href='css/gassed.css')

block localscripts
	script(src='js/bodymovin.min.js')
	script(src='js/gassed.js')
	script(src='https://vjs.zencdn.net/5-unsafe/video.js')

block content
	include gassed-nav

	.hero
		.container
			.title A Gassed Up Party
			.time 6 HR 30 M
			#mouse
		.bg-fade

	.full-width-cont
		.container.preface#preface
			.six.columns
				.header
					.title 
						include ../public/img/gassed/icons/0.svg
						| Preface
				.box
					.text
						| We threw a surprise birthday party for our friend, but they couldn’t make it. 
						br
						br
						| We also paid the photgrapher upfront, so we didn’t know what to do with these photos.
						br
						br
						| Here are the friends that did show up.
					.characters-container
						.characters
							.image.left
								img(src="/img/gassed/characters/giraffe.png")
								.name Giraffe
							.image.center
								img(src="/img/gassed/characters/xavier.png")
								.name Xavier
							.image.right
								img(src="/img/gassed/characters/bear.png")
								.name Bear

							.image.left
								img(src="/img/gassed/characters/olivia.png")
								.name Olivia
							.image.center
								img(src="/img/gassed/characters/bella.png")
								.name Bella
							.image.right
								img(src="/img/gassed/characters/rafi.png")
								.name Rafi

							.image.left
								img(src="/img/gassed/characters/norman.png")
								.name Norman
							.image.center
								img(src="/img/gassed/characters/blair.png")
								.name Blair
							.image.right
								img(src="/img/gassed/characters/rose.png")
								.name Rose

					.text.withSounds
						| We don't remember anyone else's name, but we recorded the party.
						br
						.sounds
							.control
								.play#play
									include ../public/img/gassed/icons/play.svg
								.pause.hide#pause
									include ../public/img/gassed/icons/pause.svg
							.divide
							.player
								audio(id='gu-untitled' src='/audio/Untitled.wav')
								#cassette
								.info
									.track Untitled
									#time 00:00:00


	.full-width-cont
		.container#getting-ready
			.section.twelve.columns
				.header
					.title
						include ../public/img/gassed/icons/1.svg
						| Getting Ready
					.time 20:12:52 PM
				.box
					img(style='width:43.7%;' src="/img/gassed/Getting Ready/1.jpg").right.cover.top.no1
					img(style='width:50.2%; margin-top: 22rem; margin-bottom: 13rem;' src="/img/gassed/Getting Ready/2.png").cover.left
					.center
						div(style='width: 87.9%; margin-bottom: 13rem')
							img(width='692' height='809' src="/img/gassed/Getting Ready/3.png")
					.center
						div(style='width:58.5%; margin-bottom: 8rem;')
							img(src="/img/gassed/Getting Ready/4.png")
					.center
						div(style='width:58.5%; margin-bottom: 23rem;')
							img(src="/img/gassed/Getting Ready/5.jpg")
					img(style='z-index: 2; width: calc(100% + 6px); margin-left: -3px;' src="/img/gassed/Getting Ready/6.png")
					.center
						div(style='width:49.5%; margin-bottom: 8rem; z-index: -1;').no7
							img(src="/img/gassed/Getting Ready/7.png")
					.center
						div(style='width:49.5%; margin-bottom: -3.3rem; z-index: 2;')
							img(src="/img/gassed/Getting Ready/8.png")
					.gradient
						.center.container
							.no9
								img(src="/img/gassed/Getting Ready/9.png")
					.center
						div(style='width: 45.5%;').no10
							img(src="/img/gassed/Getting Ready/10.png")

		.container#crew-wave
			.section.twelve.columns
				.header
					.title
						include ../public/img/gassed/icons/2.svg
						| Crew Wave
					.time 22:44:26 PM
				.box
					img(style='width: 107.8%; margin-left: -3.9%; margin-top: 30%;' src="/img/gassed/Crew Wave/1.png")
					.center
						div(style='width: 81.15%; margin-top: 25%;')
							img(src="/img/gassed/Crew Wave/2.png")
					.center
						div(style='width: 93.28%; margin-top: 20%;')
							img(src="/img/gassed/Crew Wave/3.png")
					.gradient
						.center.container
							div(style='width: 59.86%;')
								img(src="/img/gassed/Crew Wave/5.png").shadow
					.center
						div(style='width: 62.87%; margin-top: 13%; margin-bottom: -32%;').no6
							img(src="/img/gassed/Crew Wave/6.png")


		.container#socializing
			.section.twelve.columns
				.header
					.title
						include ../public/img/gassed/icons/3.svg
						| Socializing
					.time 23:10:43 PM
				.box
					img(style='width: 120%; margin-left: -10%; margin-top: 16%;' src="/img/gassed/Socializing/1.png")
					img(style='width: 120%; margin-left: -10%; margin-top: 20%;' src="/img/gassed/Socializing/2.png")
					.center
						div(style='width: 92%; margin-top: 32%;')
							img(src="/img/gassed/Socializing/3.png")
					.center
						div(style='width: 82%; margin-top: 32%;')
							img(src="/img/gassed/Socializing/4.png")
					.center
						div(style='width: 50%; margin-top: 30%;')
							img(src="/img/gassed/Socializing/5.png")
					img(style='width: calc(100% + 6px); margin-top: 20%; margin-left: -3px; margin-bottom: -15px;' src="/img/gassed/Socializing/6.png")


		.container#anti-social
			.section.twelve.columns
				.header
					.title
						include ../public/img/gassed/icons/4.svg
						| Anti-Social
					.time 00:35:26 AM
				.box
					img(style='width: 63%; margin-top: 20%;' src="/img/gassed/Anti-Social/1.png").right.cover
					.center
						div(style='width: 62%; margin-top: 30%;')
							img(src="/img/gassed/Anti-Social/2.png")
					.gradient
						.center.container
							div(style='width: 58%;')
								img(src="/img/gassed/Anti-Social/3.png").shadow
					img(style='width: 120%; margin-left: -10%; margin-top: 20%;' src="/img/gassed/Anti-Social/4.png")
					img(style='width: calc(100% + 6px); margin-left: -3px; margin-top: 20%; margin-bottom: -10%;' src="/img/gassed/Anti-Social/5.png")



		.container#partys-over
			.section.twelve.columns
				.header
					.title
						include ../public/img/gassed/icons/5.svg
						| Party's Over
					.time 02:12:52 AM
				.box
					img(style='width: 62%; margin-top: 6%; margin-left: -8.35%;' src="/img/gassed/Party's Over/1.png")
					img(style='width: 90%; margin-top: 10%; margin-right: 2.5%;' src="/img/gassed/Party's Over/2.png").right
					img(style='width: 50%; margin-top: 10%; margin-right: -10.4%;' src="/img/gassed/Party's Over/3.png").right
					img(style='width: 92%; margin-top: 15%;' src="/img/gassed/Party's Over/4.png").cover.right
					img(style='width: 73%; margin-top: 15%; margin-right: 10%; margin-bottom: -25%;' src="/img/gassed/Party's Over/5.png").right
					

		.container#film
			.section.twelve.columns
				.header
					.title
						include ../public/img/gassed/icons/6.svg
						| Film
				.box
					.center
						.cut
							<video id="my_video_1" class="video-js vjs-default-skin" width="960px" height="540px" controls preload="none" poster='/img/gassed/film-plate.jpg' data-setup='{ "aspectRatio":"1920:1080", "playbackRates": [1, 1.5, 2] }'>
							<source src="/img/gassed/final-ship.mp4" type='video/mp4' />
							</video>

		.container.footer
			.nine.columns
				.info
					img(src='/img/footer/teal-emblem.png')
					.main
						.title Gassed Up Collection
						.signature #[span by] Teal Process & Company
				.credits
					#[span Art Direction &nbsp;Photography &nbsp;Design] #[a(href='') Christian], #[a(href='http://ohagan.co') Matt] #[span Videography] #[a(href='') Ben] #[span Featuring] #[a(href='') Bailey], #[a(href='') Karis]
				.fine-print
					.logos 
						img(src='/img/footer/teal-logo.png')
						img(src='/img/footer/teal-cinema.png')
					.date JAN.18.2017
					.copyright
						.text
							| Tallahassee, FL 32304. Copyright
							br
							| Teal Process & Company 2017
						img(src='/img/footer/teal-box.png')





		


