extends layout

block title 
	| Gassed Up

block localcss
	link(rel='stylesheet' type='text/css' href='https://vjs.zencdn.net/5-unsafe/video-js.css')
	link(rel='stylesheet' type='text/css' href='css/gassed.css')

block localscripts
	script(src='js/bodymovin.min.js')
	script(src='js/gassed.js')
	script(src='https://vjs.zencdn.net/5-unsafe/video.js')

block content
	.hero
		.container
			.title A Gassed Up Party
			.time 6 HR 30 M
			#mouse

	.container.preface
		.six.columns
			.header
				.title 
					i
					| Preface
			.text
				| We threw a surprise birthday party for our friend, but they couldn’t make it. 
				br
				br
				| We also paid the photgrapher upfront, so we didn’t know what to do with these photos.
				br
				br
				| Here are the friends that did show up.
			.characters-container
				.characters
					.image(data-name="Giraffe")
						img(src="/img/gassed/giraffe.png")
					.image(data-name="Giraffe")
						img(src="/img/gassed/giraffe.png")
					.image(data-name="Giraffe")
						img(src="/img/gassed/giraffe.png")
					.image(data-name="Giraffe")
						img(src="/img/gassed/giraffe.png")

					.image(data-name="Giraffe")
						img(src="/img/gassed/giraffe.png")
					.image(data-name="Giraffe")
						img(src="/img/gassed/giraffe.png")
					.image(data-name="Giraffe")
						img(src="/img/gassed/giraffe.png")
					.image(data-name="Giraffe")
						img(src="/img/gassed/giraffe.png")

					.image(data-name="Giraffe")
						img(src="/img/gassed/giraffe.png")

			.text.sans-border
				| We don't remember anyone else's name, but we recorded the party.
				br
				.sounds
					.line

	.full-width-cont
		.container#getting-ready
			.section.twelve.columns
				.header
					.title
						i
						| Getting Ready
					.time 14:12:62 PM
				.box
					img(style='width:43.7%; margin-right: -7rem;' src="/img/gassed/Getting Ready/1.jpg").right.cover.top
					img(style='width:50.2%; margin-top: 22rem; margin-bottom: 3rem;' src="/img/gassed/Getting Ready/2.png").left
					.center
						img(style='width:87.9%; margin-bottom: 13rem;' src="/img/gassed/Getting Ready/3.png").left
					.center
						img(style='width:58.5%; margin-bottom: 10rem;' src="/img/gassed/Getting Ready/4.png").left
						img(style='width:58.5%; margin-bottom: 23rem;' src="/img/gassed/Getting Ready/5.png").left
					.u-cf
					.gradient
						.center
							img(style='margin-top: 20rem; margin-bottom: -10rem;' src="/img/gassed/giraffe.png")
					img(style='margin-right: -7rem' src="/img/gassed/giraffe.png").right.cover.top
					.center
						img(style='margin-top: 20rem; margin-bottom: -10rem;' src="/img/gassed/giraffe.png")

		.container#crew-wave
			.section.twelve.columns
				.header
					.title
						i
						| Crew Wave
					.time 14:12:62 PM
				.box
					img(style='margin-right: -7rem' src="/img/gassed/giraffe.png").right.cover.top
					img(style='margin-top: 20rem' src="/img/gassed/giraffe.png").left
					.u-cf
					.gradient
					img(style='margin-right: -7rem' src="/img/gassed/giraffe.png").right.cover.top
					.center
						img(style='margin-top: 20rem; margin-bottom: -10rem;' src="/img/gassed/giraffe.png")

		.container#socializing
			.section.twelve.columns
				.header
					.title
						i
						| Socializing
					.time 14:12:62 PM
				.box
					img(style='margin-right: -7rem' src="/img/gassed/giraffe.png").right.cover.top
					img(style='margin-top: 20rem' src="/img/gassed/giraffe.png").left
					.u-cf
					.gradient
					img(style='margin-right: -7rem' src="/img/gassed/giraffe.png").right.cover.top
					.center
						img(style='margin-top: 20rem; margin-bottom: -10rem;' src="/img/gassed/giraffe.png")

		.container#film
			.section.twelve.columns
				.header
					.title
						i
						| Film
				.box
					.center
						.cut
							<video id="my_video_1" class="video-js vjs-default-skin" width="960px" height="540px" controls preload="none" poster='/img/gassed/film-plate.jpg' data-setup='{ "aspectRatio":"1920:1080", "playbackRates": [1, 1.5, 2] }'>
							<source src="/img/gassed/final-ship.mp4" type='video/mp4' />
							</video>

		.container.footer
			.nine.columns
				.info
					img(src='/img/footer/teal-emblem.png')
					.main
						.title Gassed Up Collection
						.signature #[span by] Teal Process & Company
				.credits
					#[span Art Direction &nbsp;Photography &nbsp;Design] #[a(href='') Christian], #[a(href='http://ohagan.co') Matt] #[span Videography] #[a(href='') Ben] #[span Featuring] #[a(href='') Bailey], #[a(href='') Karis]
				.fine-print
					.logos 
						img(src='/img/footer/teal-logo.png')
						img(src='/img/footer/teal-cinema.png')
					.date JAN.18.2017
					.copyright
						.text
							| Tallahassee, FL 32304. Copyright
							br
							| Teal Process & Company 2017
						img(src='/img/footer/teal-box.png')





		


