.inside-cover__bottom
  p Teal Process & Company is an excuse to explore ideas.
  p.small 
    | Ideas start as a concept, are nourished into experiments, and published as online artifacts. Our current experiments include #[a(target='_blank' rel='noopener' href='https://www.are.na/teal/digital-proximity') Digital Proximity] and #[a(target='_blank' rel='noopener' href='https://www.are.na/teal/language-archive-3b5eqyo0etq') Language Archive]. Do reach out if you’re interested in any of this, we’d love to hear from you!
  p.small
    span(id="footer-address") Peaks Island, ME 04108.
    | Copyright
    br
    | Teal Process & Company 2019
  img.teal-logo(src='../img/tp-logo-white.svg')
