.inside-cover__bottom
  p Teal Process & Company is always an open question.
  p.small 
    | Ideas start as a concept, are nourished into experiments, and published as online artifacts. Our current experiments include another #[a(target='_blank' rel='noopener' href='https://www.lrft.institute/apply')  Lrft Program], #[a(target='_blank' rel='noopener' href='https://concept-trust.glitch.me/') Concept Trust], and #[a(target='_blank' rel='noopener' href='https://usbclub.net/') USB Club].
  p.small
    span(id="footer-address") Brooklyn, NY 11233. 
    | Copyright
    br
    | Teal Process & Company 2022
  img.teal-logo(src='../img/tp-logo-white.svg')
  //- Peaks Island, ME 04108.
