extends layout.pug

block title
  | Teal Process & Company 

block meta
  meta(property='og:title' content='Teal Process & Company')
  meta(property='og:description' content='Conducting creative research')
  meta(property='og:image' content='https://tealprocess.net/img/home/home-og.png')
  
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:title' content='Teal Process & Company')
  meta(name='twitter:image' content='Conducting creative research')
  meta(property='og:image' content='https://tealprocess.net/img/home/home-twitter-large-og.png')

block localcss
  link(rel='stylesheet' type='text/css' href='../css/home.css')
  link(rel='stylesheet' href='https://use.typekit.net/uzx7tew.css')

block localscripts
  script(src='../js/home.js')

block content
  .room
    .shelf
      .inside-cover.inside-cover--is-mobile
        include home-top-bar
      .shelf__header#shelf-header
        .shelf__header-headline Artifacts
        .shelf__header-second-line
          .shelf__header-subtitle
            i by
            span  teal process & company 
          .shelf__header-nature#nature 🌻
          .shelf__header-back#lrft-back
            img(src='../img/home/caret-left.svg')
            | Back
      a(target='_blank' rel='noopener' href='https://cc.place/').shelf__book#book-1
        .shelf__book-num 06
        .shelf__book-title Campus Complex
          .shelf__book-title-desc An inaugural schoolscape
      a(target='_blank' rel='noopener' href='https://www.careering.life/').shelf__book#book-2
        .shelf__book-num 05
        .shelf__book-title Careering Fairgrounds
          .shelf__book-title-desc A home for new roles
      a(target='_blank' rel='noopener' href='https://lrft.institute/').shelf__book#book-3
        .shelf__book-num 04
        .shelf__book-title Leave Room for Thoughts 
          .shelf__book-title-desc An educational institution
      a(target='_blank' rel='noopener' href='http://paragonday.systems').shelf__book#book-4
        .shelf__book-num 03
        .shelf__book-title Paragonday 
          .shelf__book-title-desc A system for space and time
      //- a(target='_blank' rel='noopener' href='/29-09').shelf__book#book-4
      //-   .shelf__book-num 03
      //-   .shelf__book-title 29-09 Emergency Brake
      //-     .shelf__book-title-desc A publication for poetics 
      a(target='_blank' rel='noopener' href='https://www.are.na/teal/worklog-tp-c').shelf__book#book-5
        .shelf__book-num 02
        .shelf__book-title Worklog
          .shelf__book-title-desc A history of explorations
      a(target='_blank' rel='noopener' href='/gassed-up').shelf__book#book-6 
        .shelf__book-num 01
        .shelf__book-title Gassed Up
          .shelf__book-title-desc A birthday story 
      //- a(href='').shelf__book#lrft-open
      //-   .shelf__book-num —
      //-   .shelf__book-title Leave Room for Thoughts 
      //-     .shelf__book-title-desc An institution for creative exploration 
      //- .shelf__info.shelf__info--is-hidden#lrft-info
      //-   p While this is a work in progress, you can view the<br>following pieces across the internet :) 
      //-   ol
      //-     li: a(href='https://www.are.na/teal/leave-room-for-thoughts') Are.na channels
      //-     li: a(href='https://wadeful.net/studio-office') Residency recap
      //-     li: a(href='https://www.figma.com/file/NIrAna6dc6wj1pskP5sVcytW/LRFT-Creating-it-s-home?node-id=629%3A414') Designing the LRFT home
      .shelf__footer#shelf-footer
        .shelf__footer-first-line
        .shelf__footer-second-line
      .shelf__spacer 
      .inside-cover.inside-cover--is-mobile
        include home-footer
    .inside-cover.inside-cover--is-desktop
      include home-top-bar
      include home-footer
  
