doctype html
html
	head
		title 
			block title
		block meta
		
		link(rel='stylesheet' type='text/css' href='css/normalize.css')
		link(rel='stylesheet' type='text/css' href='css/skeleton.css')
		link(rel='stylesheet' type='text/css' href='css/main.css')

		link(rel='shortcut icon' href='img/favicon-4.png')
		link(rel='apple-touch-icon' href='img/favicon-114.png')
		block localcss

		//script(src='../bower_components/video.js/dist/video.min.js')
		script(src='js/modernizr.custom.js')
		script(src='js/jquery-1.11.0.min.js')
		block localscripts
		
		meta(name='viewport' content='width=device-width, initial-scale=1')

	body
		block content