extends layout.pug

block title
  | Teal Process & Company 

block meta
  meta(property='og:title' content='Teal Process & Company')
  meta(property='og:description' content='')
  meta(property='og:image' content='')
  
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:title' content='Teal Process & Company')
  meta(name='twitter:description' content='')
  meta(name='twitter:image' content='')

block localcss
  link(rel='stylesheet' type='text/css' href='../css/new-home.css')
  link(rel='stylesheet' href='https://use.typekit.net/uzx7tew.css')

block localscripts
  script(src='../js/new-home.js')

block content
  .room
    .shelf
      .shelf__header
        .shelf__header-headline Artifacts
        .shelf__header-second-line
          .shelf__header-subtitle
            <i>by</i> TEAL PROCESS & COMPANY 
          .shelf__header-nature#nature 🌻
      .shelf__book 
        .shelf__book-num 4
        .shelf__book-title Gassed Up
        .shelf__book-desc Our first online artifact 
      
      .spacer-test 
      .spacer-test
      .spacer-test weeeee
    .inside-cover
      .inside-cover__top
        p.small heyo@tealprocess.net 
      .inside-cover__bottom
        p Teal is an excuse to explore ideas.
        p.small 
          | Initial thoughts start as a concept, are nourished into experiments, and published as online artifacts. Our current experiments include Shared Context and Language Archive. Do reach out if you’re interested in any of this, we’d love to hear from you!
        p.small
          span(id="footer-address") Peaks Island, ME 04108.
          | Copyright
          br
          | Teal Process & Company 2019
  
