extends layout.pug

block title
	| Gassed Up

block meta
	meta(property='og:title' content='A Gassed Up Party')
	meta(property='og:description' content='Collection brought to you by Teal Process & Company.')
	meta(property='og:image' content='https://tealprocess.com../img/gassed/gassed-og.png')
	
	meta(name='twitter:card' content='summary_large_image')
	meta(name='twitter:title' content='A Gassed Up Party')
	meta(name='twitter:description' content='Collection brought to you by Teal Process & Company.')
	meta(name='twitter:image' content='https://tealprocess.com../img/gassed/gassed-og-twitter-large.png')

block localcss
	link(rel='stylesheet' type='text/css' href='https://vjs.zencdn.net/5-unsafe/video-js.css')
	link(rel='stylesheet' type='text/css' href='../css/gassed.css')

block localscripts
	script(src='../js/bodymovin.min.js')
	script(src='../js/gassed.js')
	script(src='https://vjs.zencdn.net/5-unsafe/video.js')

block content
	include gassed-nav.pug

	.hero
		img(style="display: none;" src="../img/gassed/hero.jpg" alt="")
		.container
			.title A Gassed Up Party
			.time 6 HR 30 M
			#mouse
		.bg-fade
