@font-face {
  font-family: 'Hoefler Text';
  src: url("/../fonts/Hoefler Text.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Black';
  src: url("/../fonts/Gotham-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Bold';
  src: url("/../fonts/Gotham-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  font-size: 16px; }

body {
  font-size: 1rem;
  font-family: 'Hoefler Text', 'Georgia', 'serif';
  color: #101010;
  margin: 0; }

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem; }

h1 {
  font-size: 2rem;
  font-weight: 100;
  line-height: 51px;
  letter-spacing: 0.8px;
  margin-bottom: 0.5rem;
  margin-top: 1rem; }

h2 {
  margin-top: 3rem;
  margin-bottom: 1rem; }

h3 {
  margin-bottom: 1rem;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  font-family: 'Gotham Bold'; }

a {
  color: #101010; }

a:visited {
  color: #101010; }

a:hover {
  color: white;
  text-shadow: 1px 1px 0 #101010;
  text-decoration: none; }

.container {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem; }

.row--is-centered {
  display: flex;
  justify-content: center; }

.header {
  margin-top: 10rem;
  font-family: 'Gotham Black';
  letter-spacing: 1.5px;
  font-size: 42px; }

.header__right {
  text-align: right;
  font-size: 2rem;
  font-family: 'Hoefler Text';
  font-weight: bold;
  margin-top: 3rem; }

.header img {
  max-height: 100%;
  margin-right: 0.75rem; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
  border-top: 2px solid #101010;
  position: relative; }

.publication-logo {
  position: absolute;
  top: -2.6rem;
  right: 0;
  height: 1.5rem; }

.teal-logo {
  height: 1rem; }

.post {
  margin-top: 7.5rem; }

.intro {
  color: rgba(39, 39, 39, 0.7); }

.post-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem; }

.post-divider {
  padding-bottom: 6px;
  border: 1px solid #101010;
  box-shadow: 4px 4px 0px; }

.post-info-dividers {
  border-top: 3px solid #101010;
  border-bottom: 1px solid #101010;
  padding-bottom: 4px; }

.post-info div {
  padding-top: 1rem; }

.post-info__what {
  font-weight: bold;
  letter-spacing: 0.5px; }

.post-info__author {
  font-size: 16px; }

.post-date {
  font-family: 'Gotham Black';
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 1rem;
  padding-bottom: 1px;
  letter-spacing: 1px; }

.sounds {
  position: relative;
  display: flex;
  align-items: center; }
  .sounds .control {
    display: flex;
    justify-content: center;
    padding: 0.7rem 1.6rem;
    border: 2px solid #101010;
    box-shadow: 4px 4px 0px #101010;
    margin-right: 1.5rem;
    width: 4rem;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    font-family: 'Gotham Bold'; }
    .sounds .control .hide {
      display: none; }
    .sounds .control:hover {
      -webkit-transform: translate(-2px, -2px);
      -moz-transform: translate(-2px, -2px);
      -o-transform: translate(-2px, -2px);
      transform: translate(-2px, -2px);
      box-shadow: 6px 6px 0px #101010;
      cursor: pointer; }
  .sounds .player {
    right: 0;
    display: flex;
    justify-content: center;
    border: 0; }
    .sounds .player .track {
      font-family: "Hoefler Text", serif;
      margin-top: 0.6rem; }
    .sounds .player .time {
      font-family: "Gotham Bold", serif;
      font-size: 12px;
      margin-top: 0.6rem; }
    .sounds .player audio {
      visibility: hidden; }

.thought-dot-container {
  height: 1rem;
  margin-left: 8px;
  margin-right: 12px; }

.thought-dot {
  height: 2px;
  width: 2px;
  border-radius: 100%;
  display: inline-block;
  background-color: #000000; }

#thought-dot-1 {
  margin-right: 1px;
  margin-bottom: 10px; }

#thought-dot-2 {
  margin-right: 8px;
  margin-bottom: 5px; }

#thought-dot-3 {
  margin-right: 4px;
  margin-bottom: 11.5px; }

#thought-dot-4 {
  margin-right: 12px;
  margin-bottom: -5px; }

#thought-dot-5 {
  margin-right: 18px;
  margin-bottom: 4px; }

#thought-dot-6 {
  margin-right: 11px;
  margin-bottom: 5px; }

#thought-dot-7 {
  margin-right: 12px;
  margin-bottom: 3px; }

#thought-dot-8 {
  margin-right: 0;
  margin-bottom: 5px; }

.scroll-sideways {
  height: 65vh;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; }
  .scroll-sideways_spacer {
    display: inline-block;
    height: 100%;
    width: 400px; }
  .scroll-sideways::-webkit-scrollbar {
    display: none; }
  .scroll-sideways img {
    max-height: 100%;
    display: inline-block; }

.animal-emotion--is-home .animal__page--is-hover-1 {
  margin-top: 3px;
  margin-left: 3px;
  max-height: calc(100% - 6px);
  -webkit-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 0ms infinite normal forwards;
  -moz-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 0ms infinite normal forwards;
  -o-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 0ms infinite normal forwards;
  animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 0ms infinite normal forwards; }

.animal-emotion--is-home .animal__page--is-hover-2 {
  margin-top: 2px;
  margin-left: 2px;
  max-height: calc(100% - 4px);
  -webkit-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 100ms infinite normal forwards;
  -moz-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 100ms infinite normal forwards;
  -o-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 100ms infinite normal forwards;
  animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 100ms infinite normal forwards; }

.animal-emotion--is-home .animal__page--is-hover-3 {
  margin-top: 1px;
  margin-left: 1px;
  max-height: calc(100% - 2px);
  -webkit-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 200ms infinite normal forwards;
  -moz-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 200ms infinite normal forwards;
  -o-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 200ms infinite normal forwards;
  animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 200ms infinite normal forwards; }

.animal-emotion--is-fear .animal__page--is-hover-2 {
  -webkit-filter: brightness(0.8);
  -moz-filter: brightness(0.8);
  -o-filter: brightness(0.8);
  filter: brightness(0.8);
  -webkit-animation: ak-fear 800ms steps(3, jump-both) 100ms infinite normal forwards;
  -moz-animation: ak-fear 800ms steps(3, jump-both) 100ms infinite normal forwards;
  -o-animation: ak-fear 800ms steps(3, jump-both) 100ms infinite normal forwards;
  animation: ak-fear 800ms steps(3, jump-both) 100ms infinite normal forwards; }

.animal-emotion--is-third #ak-emotion-third {
  border: 2px solid rgba(0, 0, 0, 0.1); }
  .animal-emotion--is-third #ak-emotion-third .animal__page--is-default {
    -webkit-filter: grayscale(1) opacity(0);
    -moz-filter: grayscale(1) opacity(0);
    -o-filter: grayscale(1) opacity(0);
    filter: grayscale(1) opacity(0); }

.animal-emotion--is-third .animal__page--is-hover-1 {
  -webkit-filter: brightness(1.8);
  -moz-filter: brightness(1.8);
  -o-filter: brightness(1.8);
  filter: brightness(1.8);
  -webkit-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 0ms infinite normal forwards;
  -moz-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 0ms infinite normal forwards;
  -o-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 0ms infinite normal forwards;
  animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 0ms infinite normal forwards; }

.animal-emotion--is-third .animal__page--is-hover-2 {
  -webkit-filter: brightness(1.4);
  -moz-filter: brightness(1.4);
  -o-filter: brightness(1.4);
  filter: brightness(1.4);
  -webkit-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 100ms infinite normal forwards;
  -moz-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 100ms infinite normal forwards;
  -o-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 100ms infinite normal forwards;
  animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 100ms infinite normal forwards; }

.animal-emotion--is-third .animal__page--is-hover-3 {
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  filter: brightness(1);
  -webkit-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 200ms infinite normal forwards;
  -moz-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 200ms infinite normal forwards;
  -o-animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 200ms infinite normal forwards;
  animation: ak-home 1000ms cubic-bezier(0.49, 0.82, 0.49, 1.25) 200ms infinite normal forwards; }

.animal-emotion--is-fourth .animal__page--is-hover-1 {
  -webkit-filter: sepia(0.5);
  -moz-filter: sepia(0.5);
  -o-filter: sepia(0.5);
  filter: sepia(0.5);
  -webkit-animation: ak-home 1000ms ease-in-out 0ms infinite normal forwards;
  -moz-animation: ak-home 1000ms ease-in-out 0ms infinite normal forwards;
  -o-animation: ak-home 1000ms ease-in-out 0ms infinite normal forwards;
  animation: ak-home 1000ms ease-in-out 0ms infinite normal forwards; }

.animal-emotion--is-fourth .animal__page--is-hover-2 {
  -webkit-filter: sepia(0.25);
  -moz-filter: sepia(0.25);
  -o-filter: sepia(0.25);
  filter: sepia(0.25);
  -webkit-animation: ak-home 1000ms ease-in-out 100ms infinite normal forwards;
  -moz-animation: ak-home 1000ms ease-in-out 100ms infinite normal forwards;
  -o-animation: ak-home 1000ms ease-in-out 100ms infinite normal forwards;
  animation: ak-home 1000ms ease-in-out 100ms infinite normal forwards; }

.animal-emotion--is-fourth .animal__page--is-hover-3 {
  -webkit-filter: sepia(0);
  -moz-filter: sepia(0);
  -o-filter: sepia(0);
  filter: sepia(0);
  -webkit-animation: ak-home 1000ms ease-in-out 200ms infinite normal forwards;
  -moz-animation: ak-home 1000ms ease-in-out 200ms infinite normal forwards;
  -o-animation: ak-home 1000ms ease-in-out 200ms infinite normal forwards;
  animation: ak-home 1000ms ease-in-out 200ms infinite normal forwards; }

.animal__page {
  --clip-position: 50% 50%;
  height: 100%;
  display: inline-block;
  position: relative;
  width: 440px;
  border-radius: 5px;
  margin-right: 2rem;
  border: 2px solid transparent;
  -webkit-transition: box-shadow 500ms ease-in-out, border 500ms ease-in-out;
  -moz-transition: box-shadow 500ms ease-in-out, border 500ms ease-in-out;
  -o-transition: box-shadow 500ms ease-in-out, border 500ms ease-in-out;
  transition: box-shadow 500ms ease-in-out, border 500ms ease-in-out; }
  .animal__page:nth-child(3) {
    margin-bottom: -4rem; }
  .animal__page:nth-child(5) {
    margin-bottom: -4rem; }
  .animal__page img {
    border-radius: 5px;
    max-height: 100%;
    position: absolute; }
  .animal__page--is-default {
    -webkit-transition: filter 500ms ease-in-out;
    -moz-transition: filter 500ms ease-in-out;
    -o-transition: filter 500ms ease-in-out;
    transition: filter 500ms ease-in-out;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1); }
  .animal__page--is-hover-1 {
    -webkit-clip-path: circle(0% at 0% 0%);
    -moz-clip-path: circle(0% at 0% 0%);
    -o-clip-path: circle(0% at 0% 0%);
    clip-path: circle(0% at 0% 0%); }
  .animal__page--is-hover-2 {
    -webkit-clip-path: circle(0% at 0% 0%);
    -moz-clip-path: circle(0% at 0% 0%);
    -o-clip-path: circle(0% at 0% 0%);
    clip-path: circle(0% at 0% 0%); }
  .animal__page--is-hover-3 {
    -webkit-clip-path: circle(0% at 0% 0%);
    -moz-clip-path: circle(0% at 0% 0%);
    -o-clip-path: circle(0% at 0% 0%);
    clip-path: circle(0% at 0% 0%); }

@keyframes ak-home {
  0% {
    -webkit-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    -moz-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    -o-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    clip-path: circle(8% at var(--clip-x) var(--clip-y)); }
  50% {
    -webkit-clip-path: circle(25% at var(--clip-x) var(--clip-y));
    -moz-clip-path: circle(25% at var(--clip-x) var(--clip-y));
    -o-clip-path: circle(25% at var(--clip-x) var(--clip-y));
    clip-path: circle(25% at var(--clip-x) var(--clip-y)); }
  100% {
    -webkit-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    -moz-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    -o-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    clip-path: circle(8% at var(--clip-x) var(--clip-y)); } }

@-webkit-keyframes ak-home {
  0% {
    -webkit-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    -moz-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    -o-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    clip-path: circle(8% at var(--clip-x) var(--clip-y)); }
  50% {
    -webkit-clip-path: circle(25% at var(--clip-x) var(--clip-y));
    -moz-clip-path: circle(25% at var(--clip-x) var(--clip-y));
    -o-clip-path: circle(25% at var(--clip-x) var(--clip-y));
    clip-path: circle(25% at var(--clip-x) var(--clip-y)); }
  100% {
    -webkit-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    -moz-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    -o-clip-path: circle(8% at var(--clip-x) var(--clip-y));
    clip-path: circle(8% at var(--clip-x) var(--clip-y)); } }

@keyframes ak-fear {
  0% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y)); }
  10% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 130px), calc(var(--clip-x) + 130px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 130px), calc(var(--clip-x) - 130px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 130px), calc(var(--clip-x) + 130px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 130px), calc(var(--clip-x) - 130px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 130px), calc(var(--clip-x) + 130px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 130px), calc(var(--clip-x) - 130px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 130px), calc(var(--clip-x) + 130px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 130px), calc(var(--clip-x) - 130px) var(--clip-y)); }
  20% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 110px), calc(var(--clip-x) + 110px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 110px), calc(var(--clip-x) - 110px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 110px), calc(var(--clip-x) + 110px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 110px), calc(var(--clip-x) - 110px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 110px), calc(var(--clip-x) + 110px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 110px), calc(var(--clip-x) - 110px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 110px), calc(var(--clip-x) + 110px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 110px), calc(var(--clip-x) - 110px) var(--clip-y)); }
  30% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 140px), calc(var(--clip-x) + 140px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 140px), calc(var(--clip-x) - 140px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 140px), calc(var(--clip-x) + 140px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 140px), calc(var(--clip-x) - 140px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 140px), calc(var(--clip-x) + 140px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 140px), calc(var(--clip-x) - 140px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 140px), calc(var(--clip-x) + 140px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 140px), calc(var(--clip-x) - 140px) var(--clip-y)); }
  40% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y)); }
  50% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 60px), calc(var(--clip-x) + 60px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 60px), calc(var(--clip-x) - 60px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 60px), calc(var(--clip-x) + 60px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 60px), calc(var(--clip-x) - 60px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 60px), calc(var(--clip-x) + 60px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 60px), calc(var(--clip-x) - 60px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 60px), calc(var(--clip-x) + 60px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 60px), calc(var(--clip-x) - 60px) var(--clip-y)); }
  60% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 30px), calc(var(--clip-x) + 30px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 30px), calc(var(--clip-x) - 30px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 30px), calc(var(--clip-x) + 30px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 30px), calc(var(--clip-x) - 30px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 30px), calc(var(--clip-x) + 30px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 30px), calc(var(--clip-x) - 30px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 30px), calc(var(--clip-x) + 30px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 30px), calc(var(--clip-x) - 30px) var(--clip-y)); }
  70% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y)); }
  80% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 80px), calc(var(--clip-x) + 80px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 80px), calc(var(--clip-x) - 80px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 80px), calc(var(--clip-x) + 80px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 80px), calc(var(--clip-x) - 80px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 80px), calc(var(--clip-x) + 80px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 80px), calc(var(--clip-x) - 80px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 80px), calc(var(--clip-x) + 80px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 80px), calc(var(--clip-x) - 80px) var(--clip-y)); }
  90% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 90px), calc(var(--clip-x) + 90px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 90px), calc(var(--clip-x) - 90px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 90px), calc(var(--clip-x) + 90px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 90px), calc(var(--clip-x) - 90px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 90px), calc(var(--clip-x) + 90px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 90px), calc(var(--clip-x) - 90px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 90px), calc(var(--clip-x) + 90px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 90px), calc(var(--clip-x) - 90px) var(--clip-y)); }
  100% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y)); } }

@-webkit-keyframes ak-fear {
  0% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y)); }
  10% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 130px), calc(var(--clip-x) + 130px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 130px), calc(var(--clip-x) - 130px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 130px), calc(var(--clip-x) + 130px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 130px), calc(var(--clip-x) - 130px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 130px), calc(var(--clip-x) + 130px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 130px), calc(var(--clip-x) - 130px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 130px), calc(var(--clip-x) + 130px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 130px), calc(var(--clip-x) - 130px) var(--clip-y)); }
  20% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 110px), calc(var(--clip-x) + 110px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 110px), calc(var(--clip-x) - 110px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 110px), calc(var(--clip-x) + 110px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 110px), calc(var(--clip-x) - 110px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 110px), calc(var(--clip-x) + 110px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 110px), calc(var(--clip-x) - 110px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 110px), calc(var(--clip-x) + 110px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 110px), calc(var(--clip-x) - 110px) var(--clip-y)); }
  30% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 140px), calc(var(--clip-x) + 140px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 140px), calc(var(--clip-x) - 140px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 140px), calc(var(--clip-x) + 140px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 140px), calc(var(--clip-x) - 140px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 140px), calc(var(--clip-x) + 140px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 140px), calc(var(--clip-x) - 140px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 140px), calc(var(--clip-x) + 140px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 140px), calc(var(--clip-x) - 140px) var(--clip-y)); }
  40% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y)); }
  50% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 60px), calc(var(--clip-x) + 60px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 60px), calc(var(--clip-x) - 60px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 60px), calc(var(--clip-x) + 60px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 60px), calc(var(--clip-x) - 60px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 60px), calc(var(--clip-x) + 60px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 60px), calc(var(--clip-x) - 60px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 60px), calc(var(--clip-x) + 60px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 60px), calc(var(--clip-x) - 60px) var(--clip-y)); }
  60% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 30px), calc(var(--clip-x) + 30px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 30px), calc(var(--clip-x) - 30px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 30px), calc(var(--clip-x) + 30px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 30px), calc(var(--clip-x) - 30px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 30px), calc(var(--clip-x) + 30px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 30px), calc(var(--clip-x) - 30px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 30px), calc(var(--clip-x) + 30px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 30px), calc(var(--clip-x) - 30px) var(--clip-y)); }
  70% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 50px), calc(var(--clip-x) + 50px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 50px), calc(var(--clip-x) - 50px) var(--clip-y)); }
  80% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 80px), calc(var(--clip-x) + 80px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 80px), calc(var(--clip-x) - 80px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 80px), calc(var(--clip-x) + 80px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 80px), calc(var(--clip-x) - 80px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 80px), calc(var(--clip-x) + 80px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 80px), calc(var(--clip-x) - 80px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 80px), calc(var(--clip-x) + 80px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 80px), calc(var(--clip-x) - 80px) var(--clip-y)); }
  90% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 90px), calc(var(--clip-x) + 90px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 90px), calc(var(--clip-x) - 90px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 90px), calc(var(--clip-x) + 90px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 90px), calc(var(--clip-x) - 90px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 90px), calc(var(--clip-x) + 90px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 90px), calc(var(--clip-x) - 90px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 90px), calc(var(--clip-x) + 90px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 90px), calc(var(--clip-x) - 90px) var(--clip-y)); }
  100% {
    -webkit-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    -moz-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    -o-clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y));
    clip-path: polygon(var(--clip-x) calc(var(--clip-y) - 70px), calc(var(--clip-x) + 70px) var(--clip-y), var(--clip-x) calc(var(--clip-y) + 70px), calc(var(--clip-x) - 70px) var(--clip-y)); } }
