html {
  background: #222222;
  font-family: eb-garamond, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px; }

body {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-family: eb-garamond, serif; }

p.small {
  font-size: 14px;
  line-height: 18px; }

.room {
  display: flex;
  justify-content: space-between;
  flex-direction: row; }

.inside-cover {
  position: fixed;
  text-align: right;
  max-width: 40rem;
  right: 8rem;
  top: 6rem;
  bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .inside-cover--is-mobile {
    display: none;
    position: relative;
    text-align: left;
    right: inherit;
    top: inherit;
    bottom: inherit; }
  .inside-cover__top {
    position: relative; }
  .inside-cover__bottom {
    position: relative; }

.shelf {
  margin-left: 16rem;
  width: 45rem; }
  .shelf__header {
    font-family: eb-garamond, serif;
    padding-bottom: 4rem;
    border-bottom: 1px solid #ffffff;
    position: relative;
    margin-top: 45rem; }
    .shelf__header:after {
      position: absolute;
      bottom: -5px;
      height: 1px;
      content: "";
      width: 100%;
      border-bottom: 1px solid #ffffff; }
    .shelf__header-headline {
      font-weight: 800;
      font-size: 6.4rem;
      line-height: 7.7rem;
      letter-spacing: 0.02em; }
    .shelf__header-second-line {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline; }
    .shelf__header-subtitle {
      font-size: 2.4rem;
      line-height: 3.2rem;
      letter-spacing: 0.02em;
      font-weight: 500; }
      .shelf__header-subtitle span {
        font-variant-caps: small-caps;
        -moz-font-feature-settings: "smcp";
        -webkit-font-feature-settings: "smcp";
        font-feature-settings: "smcp"; }
      .shelf__header-subtitle i {
        font-size: 1.6rem;
        line-height: 3.2rem; }
    .shelf__header-nature {
      line-height: 2.8rem; }
  .shelf__book {
    padding-top: 4rem;
    padding-right: 1.6rem;
    padding-bottom: 4rem;
    padding-left: 1.6rem;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    width: 100%;
    text-decoration: none; }
    .shelf__book:hover {
      background: #2B2B2B;
      cursor: pointer;
      color: #ffffff; }
  .shelf .spacer-test {
    height: 400px; }

@media only screen and (max-width: 1300px) {
  .shelf {
    margin-left: 8rem; } }

@media only screen and (max-width: 1100px) {
  .inside-cover--is-desktop {
    display: none; }
  .inside-cover--is-mobile {
    display: block; } }
